# Interrogating the dataframe
---

We use pandas to create dataframes from data sets in files or online tables.

Once we have the dataframe we might want to:  
*   display a subset of rows
*   *   we can do this using df.head(), df.tail() or df.loc[index]
*   display a subset of columns
*   *   we can do this using the column name as the key, e.g.   
`                df['rain (mm)']`  
*   *   we can display more than one column, simply by listing the columns in the square brackets, e.g.   
`                df[['rain (mm)', 'tmin (degC)', 'sun (hours)']]`  
*   *   and can dislay a subset of rows for a subset of columns, e.g.  
 `               df[['rain (mm)', 'tmax (degC)']].head(10)`

### Exercise 1 - get the data, look at first 10 records
---


1.  Import the pandas library with the alias pd  
2.  Read the sheet with the name "Industry Migration" from the Excel file from this link: https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true  (*Hint:  use pd.read_excel(url, sheet_name="Industry Migration") with the above url.*)
3.  display the first 10 rows of the data

**Test output**:  
10 rows, 13 columns

In [3]:
import pandas as pd

url = "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true"

industry_migration = pd.read_excel(url, sheet_name="Industry Migration")
display (industry_migration.head(10))

,country_code,country_name,wb_income,wb_region,isic_section_index,isic_section_name,industry_id,industry_name,net_per_10K_2015,net_per_10K_2016,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,ae,United Arab Emirates,High income,Middle East & North Africa,C,Manufacturing,1,Defense & Space,378.74,127.94,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,3,Computer Hardware,100.97,358.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,4,Computer Software,1079.36,848.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,5,Computer Networking,401.46,447.39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,6,Internet,1840.33,1368.42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,8,Telecommunications,676.91,676.11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,ae,United Arab Emirates,High income,Middle East & North Africa,M,Professional scientific and technical activities,9,Law Practice,694.50,529.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,ae,United Arab Emirates,High income,Middle East & North Africa,M,Professional scientific and technical activities,10,Legal Services,661.10,665.65,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,ae,United Arab Emirates,High income,Middle East & North Africa,M,Professional scientific and technical activities,11,Management Consulting,982.85,694.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,ae,United Arab Emirates,High income,Middle East & North Africa,M,Professional scientific and technical activities,12,Biotechnology,1230.17,846.28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Exercise 2 - display just two columns

Display the first 50 records focusing on the industries where migration is happening in each country (show just country_name and industry_name).

**Test output**:  
Rows from 0 to 49, country_name and industry_name columns

### Exercise 3 - yearly migration
---

*   display the middle 20 records (use the shape of the dataframe to help you identify the index positions of these), showing the country_name and the migration for each of the years 2015 to 2019.  

**Test output**:  
Rows from 2637 to 2656, 6 columns (country_name and net_per_10K_ for 2015 to 2019)

### Exercise 4 - migration to and from
---

The Excel file at this link (which you have already opened above): https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true has three data sheets, "Country Migration", "Industry Migration" and "Skill Migration"

Open the data sheet "Country Migration" and display the first 10 records showing the country that migration was to, the country it was from and the net migration for each year from 2015 to 2019

**Test output**:  
10 rows, 7 columns

### Exercise 5 - unique countries

Using the "Country Migration" sheet, get all the unique country names from where people have migrated (base_country_name) and use a for loop to print a list of the countries.

**Test output**:  
'United Arab Emirates'  
'Afghanistan'  
'Albania'  
'Armenia'  
'Angola'  
'Argentina'  
'Austria'  
'Australia'  
'Azerbaijan'  
'Bosnia and Herzegovina'  
'Bangladesh'  
...  
...  
'Zambia'  
'Zimbabwe'

### Exercise 6 - how many countries are migrated to

Using the "Country Migration" sheet again, get all the unique country names to where people have migrated and display the number of unique countries.

*Hint:  you can use len() for this.*

**Test output**:  
140

### Exercise 7 - skill sets
---


Using the "Skill Migration" data sheet, display the following:
*  the first record
*  the last 10 records
*  records from index 500 to index 600  
*  a count of all unique countries
*  a list of all unique skill group categories
*  the first 50 skill group names and net migration in 2019

**Test output**:  
First record - index 0, 12 columns  
Last 10 records - 10 rows (17607 to 17616), 12 columns  
Records from 500 to 600, 12 columns  
140 unique countries  
Skills groups categories - array(['Tech Skills', 'Business Skills', 'Specialized Industry Skills','Disruptive Tech Skills', 'Soft Skills'], dtype=object)  
50 rows of skills group names and net migration numbered 0 to 49

### Exercise 8 - total net migration over 5 years
---

Using the Country Migration data sheet, display the record at position 10.  Using the column names to access the data in each column, add the five columns containing the net migration data together to calculate the total net migration over the 5 years between 2015 and 2019.

**Test output**:  
base_country_code                                   ae  
base_country_name                 United Arab Emirates  
base_lat                                       23.4241  
base_long                                      53.8478  
base_country_wb_income                     High Income  
base_country_wb_region      Middle East & North Africa  
target_country_code                                 by  
target_country_name                            Belarus  
target_lat                                     53.7098  
target_long                                    27.9534  
target_country_wb_income           Upper Middle Income  
target_country_wb_region         Europe & Central Asia  
net_per_10K_2015                                  0.12  
net_per_10K_2016                                  0.12  
net_per_10K_2017                                  0.11  
net_per_10K_2018                                  0.12  
net_per_10K_2019                                   0.1  
Name: 10, dtype: object  
0.57

### Exercise 9 - formulating a text response

Using the Industry Migration data sheet, display the record at position 100.  Using the column names again to access the data in each column, calculate net migration over the 5 years from 2015 to 2019.

Then print the following message, adding the data where indicated:

The total net migration into `country` of skilled workers for the `industry name` industry, during the years 2015-2019 was `total_net_migration`  

**Test output**:  
country_code                                          ae  
country_name                        United Arab Emirates  
wb_income                                    High income  
wb_region                     Middle East & North Africa  
isic_section_index                                     K  
isic_section_name     Financial and insurance activities  
industry_id                                          129  
industry_name                            Capital Markets  
net_per_10K_2015                                 1345.11  
net_per_10K_2016                                  483.35  
net_per_10K_2017                                  606.94  
net_per_10K_2018                                  735.88  
net_per_10K_2019                                  240.44  
Name: 100, dtype: object  
The total net migration into United Arab Emirates of skilled workers for the Capital Markets industry, during the years 2015-2019 was 3411.7200000000003

### Exercise 10 - five text responses

Using the Industry Migration data sheet, calculate net migration (rounded to 1 decimal place) over the 5 years from 2015 to 2019 for the records at positions 1 to 5 and print the following message for each, adding the data where indicated:

The total net migration into `country` of skilled workers for the `industry name` industry, during the years 2015-2019 was `total_net_migration`

*Hint: use a for loop to get a record and do each calculation*  

**Test output**:  
The total net migration into United Arab Emirates of skilled workers for the Computer Hardware industry, during the years 2015-2019 was 3411.7200000000003  
The total net migration into United Arab Emirates of skilled workers for the Computer Software industry, during the years 2015-2019 was 3411.7200000000003  
The total net migration into United Arab Emirates of skilled workers for the Computer Networking industry, during the years 2015-2019 was 3411.7200000000003  
The total net migration into United Arab Emirates of skilled workers for the Internet industry, during the years 2015-2019 was 3411.7200000000003  
The total net migration into United Arab Emirates of skilled workers for the Telecommunications industry, during the years 2015-2019 was 3411.7200000000003

# Reflection
----

## What skills have you demonstrated in completing this notebook?

Your answer:

## What caused you the most difficulty?

Your answer: