# Interrogating the dataframe
---

We use pandas to create dataframes from data sets in files or online tables.

Once we have the dataframe we might want to:  
*   display a subset of rows
*   *   we can do this using df.head(), df.tail() or df.loc[index]
*   display a subset of columns
*   *   we can do this using the column name as the key, e.g.   
`                df['rain (mm)']`  
*   *   we can display more than one column, simply by listing the columns in the square brackets, e.g.   
`                df[['rain (mm)', 'tmin (degC)', 'sun (hours)']]`  
*   *   and can dislay a subset of rows for a subset of columns, e.g.  
 `               df[['rain (mm)', 'tmax (degC)']].head(10)`

### Exercise 1 - get the data, look at first 10 records
---


1.  Import the pandas library with the alias pd  
2.  Read the sheet with the name "Industry Migration" from the Excel file from this link: https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true  (*Hint:  use pd.read_excel(url, sheet_name="Industry Migration") with the above url.*)
3.  display the first 10 rows of the data

**Test output**:  
10 rows, 13 columns

In [4]:
import pandas as pd

url = "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true"

industry_migration = pd.read_excel(url, sheet_name="Industry Migration")
print (industry_migration.head(10))
#displays first 10 rows of industy migration sheet

  country_code          country_name    wb_income                   wb_region  \
0           ae  United Arab Emirates  High income  Middle East & North Africa
1           ae  United Arab Emirates  High income  Middle East & North Africa
2           ae  United Arab Emirates  High income  Middle East & North Africa
3           ae  United Arab Emirates  High income  Middle East & North Africa
4           ae  United Arab Emirates  High income  Middle East & North Africa
5           ae  United Arab Emirates  High income  Middle East & North Africa
6           ae  United Arab Emirates  High income  Middle East & North Africa
7           ae  United Arab Emirates  High income  Middle East & North Africa
8           ae  United Arab Emirates  High income  Middle East & North Africa
9           ae  United Arab Emirates  High income  Middle East & North Africa

  isic_section_index                                 isic_section_name  \
0                  C                                     Manufacturing
1                  J                     Information and communication
2                  J                     Information and communication
3                  J                     Information and communication
4                  J                     Information and communication
5                  J                     Information and communication
6                  M  Professional scientific and technical activities
7                  M  Professional scientific and technical activities
8                  M  Professional scientific and technical activities
9                  M  Professional scientific and technical activities

   industry_id          industry_name  net_per_10K_2015  net_per_10K_2016  \
0            1        Defense & Space            378.74            127.94
1            3      Computer Hardware            100.97            358.14
2            4      Computer Software           1079.36            848.15
3            5    Computer Networking            401.46            447.39
4            6               Internet           1840.33           1368.42
5            8     Telecommunications            676.91            676.11
6            9           Law Practice            694.50            529.50
7           10         Legal Services            661.10            665.65
8           11  Management Consulting            982.85            694.25
9           12          Biotechnology           1230.17            846.28

   ...  Unnamed: 20  Unnamed: 21  Unnamed: 22  Unnamed: 23  Unnamed: 24  \
0  ...          NaN          NaN          NaN          NaN          NaN
1  ...          NaN          NaN          NaN          NaN          NaN
2  ...          NaN          NaN          NaN          NaN          NaN
3  ...          NaN          NaN          NaN          NaN          NaN
4  ...          NaN          NaN          NaN          NaN          NaN
5  ...          NaN          NaN          NaN          NaN          NaN
6  ...          NaN          NaN          NaN          NaN          NaN
7  ...          NaN          NaN          NaN          NaN          NaN
8  ...          NaN          NaN          NaN          NaN          NaN
9  ...          NaN          NaN          NaN          NaN          NaN

   Unnamed: 25  Unnamed: 26  Unnamed: 27  Unnamed: 28  Unnamed: 29
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN
5          NaN          NaN          NaN          NaN          NaN
6          NaN          NaN          NaN          NaN          NaN
7          NaN          NaN          NaN          NaN          NaN
8          NaN          NaN          NaN          NaN          NaN
9          NaN          NaN          NaN          NaN          NaN

[10 rows x 30 columns]

### Exercise 2 - display just two columns

Display the first 50 records focusing on the industries where migration is happening in each country (show just country_name and industry_name).

**Test output**:  
Rows from 0 to 49, country_name and industry_name columns

In [6]:
url = "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true"

industry_migration = pd.read_excel(url, sheet_name="Industry Migration")
display (industry_migration [["country_name", "industry_name"]].head(50))
#displays listed columns, first 50 rows.

            country_name              industry_name
0   United Arab Emirates            Defense & Space
1   United Arab Emirates          Computer Hardware
2   United Arab Emirates          Computer Software
3   United Arab Emirates        Computer Networking
4   United Arab Emirates                   Internet
5   United Arab Emirates         Telecommunications
6   United Arab Emirates               Law Practice
7   United Arab Emirates             Legal Services
8   United Arab Emirates      Management Consulting
9   United Arab Emirates              Biotechnology
10  United Arab Emirates           Medical Practice
11  United Arab Emirates     Hospital & Health Care
12  United Arab Emirates            Pharmaceuticals
13  United Arab Emirates             Medical Device
14  United Arab Emirates                  Cosmetics
15  United Arab Emirates          Apparel & Fashion
16  United Arab Emirates             Sporting Goods
17  United Arab Emirates                    Tobacco
18  United Arab Emirates               Supermarkets
19  United Arab Emirates            Food Production
20  United Arab Emirates       Consumer Electronics
21  United Arab Emirates             Consumer Goods
22  United Arab Emirates                  Furniture
23  United Arab Emirates                     Retail
24  United Arab Emirates              Entertainment
25  United Arab Emirates  Leisure, Travel & Tourism
26  United Arab Emirates                Hospitality
27  United Arab Emirates                Restaurants
28  United Arab Emirates                     Sports
29  United Arab Emirates           Food & Beverages
30  United Arab Emirates     Motion Pictures & Film
31  United Arab Emirates            Broadcast Media
32  United Arab Emirates                    Banking
33  United Arab Emirates                  Insurance
34  United Arab Emirates         Financial Services
35  United Arab Emirates                Real Estate
36  United Arab Emirates         Investment Banking
37  United Arab Emirates      Investment Management
38  United Arab Emirates                 Accounting
39  United Arab Emirates               Construction
40  United Arab Emirates         Building Materials
41  United Arab Emirates    Architecture & Planning
42  United Arab Emirates          Civil Engineering
43  United Arab Emirates       Aviation & Aerospace
44  United Arab Emirates                 Automotive
45  United Arab Emirates                  Chemicals
46  United Arab Emirates                  Machinery
47  United Arab Emirates            Mining & Metals
48  United Arab Emirates               Oil & Energy
49  United Arab Emirates               Shipbuilding

### Exercise 3 - yearly migration
---

*   display the middle 20 records (use the shape of the dataframe to help you identify the index positions of these), showing the country_name and the migration for each of the years 2015 to 2019.  

**Test output**:  
Rows from 2637 to 2656, 6 columns (country_name and net_per_10K_ for 2015 to 2019)

In [24]:
url = "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true"

industry_migration = pd.read_excel(url, sheet_name="Industry Migration")

print(industry_migration.shape)

index1 = (int((len(industry_migration))/2)-10)
index2 = (int((len(industry_migration))/2)+10)
# calc row indices = length/2 -10 = start row index, -10 = end row index
print (index1, index2)

columns = ["country_name", "net_per_10K_2015", "net_per_10K_2016","net_per_10K_2017","net_per_10K_2018","net_per_10K_2019"]
#defines columnns that will be displayed
middle_20 = industry_migration.iloc[2637:2657]
#variable containing middle 20 rows of org. df via their indices
display (middle_20[columns])
#displays defined columns of modified df conatining only middle 20 rows

(5295, 30)
2637 2657

,country_name,net_per_10K_2015,net_per_10K_2016,net_per_10K_2017,net_per_10K_2018,net_per_10K_2019
2637,India,-7.57,-15.53,-41.39,-58.19,-75.65
2638,India,-46.07,-84.82,-69.27,-112.88,-102.83
2639,India,-17.75,-9.88,-13.85,-17.02,-36.78
2640,India,-46.50,-53.41,-38.84,-69.76,-73.81
2641,India,15.19,5.91,-67.67,-42.27,-45.82
2642,India,-36.77,-72.50,-224.30,-108.44,-57.46
2643,India,-57.53,-50.04,-58.67,-98.15,-87.12
2644,India,4.31,-29.11,-68.60,-60.27,-71.01
2645,India,-60.63,-102.39,-130.02,-97.02,-151.55
2646,India,-26.63,5.22,-29.57,-23.96,-58.40
2647,India,-31.78,-45.04,-86.56,-66.87,-95.41
2648,India,24.01,27.84,-9.85,-29.43,-63.83
2649,India,-17.74,-27.67,-19.57,-63.91,-50.87
2650,India,-26.23,-21.12,-26.23,-40.06,-55.07
2651,India,-75.42,-71.15,-57.01,-95.02,-106.56
2652,India,-40.41,-2.47,-40.18,-70.58,-142.21
2653,Iraq,290.14,396.01,175.95,396.23,318.73
2654,Iraq,23.68,-148.03,-157.05,-87.85,-38.84
2655,Iraq,-138.81,-662.75,-273.35,-109.23,0.00
2656,Iraq,-718.56,-623.25,-446.93,-456.94,95.72

### Exercise 4 - migration to and from
---

The Excel file at this link (which you have already opened above): https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true has three data sheets, "Country Migration", "Industry Migration" and "Skill Migration"

Open the data sheet "Country Migration" and display the first 10 records showing the country that migration was to, the country it was from and the net migration for each year from 2015 to 2019

**Test output**:  
10 rows, 7 columns

In [26]:
url = "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true"

country_migration = pd.read_excel(url, sheet_name="Country Migration")
#select sheet 
columns = ["base_country_name", "target_country_name", "net_per_10K_2015", "net_per_10K_2016","net_per_10K_2017","net_per_10K_2018","net_per_10K_2019"]
#list of applicable columns
migration = country_migration[columns].head(10)
#creates df containing first 10 rows of selected columns 
display(migration)

,base_country_name,target_country_name,net_per_10K_2015,net_per_10K_2016,net_per_10K_2017,net_per_10K_2018,net_per_10K_2019
0,United Arab Emirates,Afghanistan,0.19,0.16,0.11,-0.05,-0.02
1,United Arab Emirates,Algeria,0.19,0.25,0.57,0.55,0.78
2,United Arab Emirates,Angola,-0.01,0.04,0.11,-0.02,-0.06
3,United Arab Emirates,Argentina,0.16,0.18,0.04,0.01,0.23
4,United Arab Emirates,Armenia,0.10,0.05,0.03,-0.01,0.02
5,United Arab Emirates,Australia,-1.06,-3.31,-4.01,-4.58,-4.09
6,United Arab Emirates,Austria,0.11,-0.08,-0.07,-0.05,-0.16
7,United Arab Emirates,Azerbaijan,0.24,0.25,0.10,0.05,0.04
8,United Arab Emirates,Bahrain,0.90,0.89,0.38,-0.07,0.15
9,United Arab Emirates,Bangladesh,-0.21,-0.21,-0.26,-0.18,-0.04

### Exercise 5 - unique countries

Using the "Country Migration" sheet, get all the unique country names from where people have migrated (base_country_name) and use a for loop to print a list of the countries.

**Test output**:  
'United Arab Emirates'  
'Afghanistan'  
'Albania'  
'Armenia'  
'Angola'  
'Argentina'  
'Austria'  
'Australia'  
'Azerbaijan'  
'Bosnia and Herzegovina'  
'Bangladesh'  
...  
...  
'Zambia'  
'Zimbabwe'

In [33]:
country_migration = pd.read_excel(url, sheet_name="Country Migration")
#df.name.unique()
countries =[]
#creates empty list
unique_countries = country_migration.base_country_name.unique()
#varaible contains unique values
for country in unique_countries:
    countries.append(country)
    #for each country in 'unique countries' variable append the country to the list 'countries'
display(countries)

['United Arab Emirates',
 'Afghanistan',
 'Albania',
 'Armenia',
 'Angola',
 'Argentina',
 'Austria',
 'Australia',
 'Azerbaijan',
 'Bosnia and Herzegovina',
 'Bangladesh',
 'Belgium',
 'Burkina Faso',
 'Bulgaria',
 'Bahrain',
 'Benin',
 'Bolivia',
 'Brazil',
 'Bahamas, The',
 'Botswana',
 'Belarus',
 'Canada',
 'Congo, Dem. Rep.',
 'Switzerland',
 "Cote d'Ivoire",
 'Chile',
 'Cameroon',
 'China',
 'Colombia',
 'Costa Rica',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 'Germany',
 'Denmark',
 'Dominican Republic',
 'Algeria',
 'Ecuador',
 'Estonia',
 'Egypt, Arab Rep.',
 'Spain',
 'Ethiopia',
 'Finland',
 'Fiji',
 'France',
 'Gabon',
 'United Kingdom',
 'Georgia',
 'Ghana',
 'Greece',
 'Guatemala',
 'Hong Kong SAR, China',
 'Honduras',
 'Croatia',
 'Haiti',
 'Hungary',
 'Indonesia',
 'Ireland',
 'Israel',
 'India',
 'Iraq',
 'Iran, Islamic Rep.',
 'Iceland',
 'Italy',
 'Jamaica',
 'Jordan',
 'Japan',
 'Kenya',
 'Cambodia',
 'Korea, Rep.',
 'Kuwait',
 'Kazakhstan',
 'Lebanon',
 'Sri Lanka',
 'Lithuania',
 'Luxembourg',
 'Latvia',
 'Libya',
 'Morocco',
 'Moldova',
 'Madagascar',
 'Macedonia, FYR',
 'Mali',
 'Myanmar',
 'Mongolia',
 'Malta',
 'Mauritius',
 'Malawi',
 'Mexico',
 'Malaysia',
 'Mozambique',
 'Namibia',
 'Nigeria',
 'Nicaragua',
 'Netherlands',
 'Norway',
 'Nepal',
 'New Zealand',
 'Oman',
 'Panama',
 'Peru',
 'Papua New Guinea',
 'Philippines',
 'Pakistan',
 'Poland',
 'Puerto Rico',
 'West Bank and Gaza',
 'Portugal',
 'Paraguay',
 'Qatar',
 'Romania',
 'Serbia',
 'Rwanda',
 'Saudi Arabia',
 'Sudan',
 'Sweden',
 'Singapore',
 'Slovenia',
 'Slovak Republic',
 'Senegal',
 'El Salvador',
 'Syrian Arab Republic',
 'Togo',
 'Thailand',
 'Tunisia',
 'Turkey',
 'Trinidad and Tobago',
 'Taiwan, China',
 'Tanzania',
 'Ukraine',
 'Uganda',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Venezuela, RB',
 'Vietnam',
 'Yemen, Rep.',
 'South Africa',
 'Zambia',
 'Zimbabwe']

### Exercise 6 - how many countries are migrated to

Using the "Country Migration" sheet again, get all the unique country names to where people have migrated and display the number of unique countries.

*Hint:  you can use len() for this.*

**Test output**:  
140

In [34]:
country_migration = pd.read_excel(url, sheet_name="Country Migration")
unique_target_countries = country_migration.target_country_name.unique()
#variable containing unique values in defined column.
display(len(unique_target_countries))
#length of variable == number of unique values.

140

### Exercise 7 - skill sets
---


Using the "Skill Migration" data sheet, display the following:
*  the first record
*  the last 10 records
*  records from index 500 to index 600  
*  a count of all unique countries
*  a list of all unique skill group categories
*  the first 50 skill group names and net migration in 2019

**Test output**:  
First record - index 0, 12 columns  
Last 10 records - 10 rows (17607 to 17616), 12 columns  
Records from 500 to 600, 12 columns  
140 unique countries  
Skills groups categories - array(['Tech Skills', 'Business Skills', 'Specialized Industry Skills','Disruptive Tech Skills', 'Soft Skills'], dtype=object)  
50 rows of skills group names and net migration numbered 0 to 49

In [89]:
import pandas as pd
url = "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true"
skill_migration = pd.read_excel(url, sheet_name="Skill Migration")

display (skill_migration.head(1))
#display first record
display (skill_migration.tail(10))
#display last 10 records
display (skill_migration[500:601])
#display records 500 to 600 via indexing
display (len(skill_migration.country_name.unique()))
#display length of unique values in defined column.

unique_skill_groups = skill_migration.skill_group_category.unique()
print ([unique_skill_groups])
#print unique values of defined column within a list.

display (skill_migration [["skill_group_name", "net_per_10K_2019"]].head(50))
#print first 50 rows of 2 defined columns. (skill_group_name and net_per_10k_2019)

,country_code,country_name,wb_income,wb_region,skill_group_id,skill_group_category,skill_group_name,net_per_10K_2015,net_per_10K_2016,net_per_10K_2017,...,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
0,af,Afghanistan,Low income,South Asia,2549,Tech Skills,Information Management,-791.59,-705.88,-550.04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,country_code,country_name,wb_income,wb_region,skill_group_id,skill_group_category,skill_group_name,net_per_10K_2015,net_per_10K_2016,net_per_10K_2017,...,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
17607,zw,Zimbabwe,Low income,Sub-Saharan Africa,5587,Specialized Industry Skills,Earth Science,7.00,-5.61,-48.68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17608,zw,Zimbabwe,Low income,Sub-Saharan Africa,1838,Specialized Industry Skills,Utilities,-157.50,-170.89,-81.63,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17609,zw,Zimbabwe,Low income,Sub-Saharan Africa,3104,Specialized Industry Skills,International Law,-98.23,-72.38,-94.81,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17610,zw,Zimbabwe,Low income,Sub-Saharan Africa,1530,Specialized Industry Skills,Higher Education,54.17,-3.69,-18.88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17611,zw,Zimbabwe,Low income,Sub-Saharan Africa,25045,Specialized Industry Skills,Agricultural Production,-127.75,-56.95,5.54,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17612,zw,Zimbabwe,Low income,Sub-Saharan Africa,12666,Specialized Industry Skills,Teaching,71.18,30.68,-18.85,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17613,zw,Zimbabwe,Low income,Sub-Saharan Africa,1235,Specialized Industry Skills,Mining,8.97,-112.85,-35.87,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17614,zw,Zimbabwe,Low income,Sub-Saharan Africa,43756,Specialized Industry Skills,Personal Coaching,-53.45,-59.70,-88.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17615,zw,Zimbabwe,Low income,Sub-Saharan Africa,1724,Specialized Industry Skills,Public Health,15.25,-65.53,-57.22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17616,zw,Zimbabwe,Low income,Sub-Saharan Africa,172,Specialized Industry Skills,Law,40.85,47.16,-31.24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,country_code,country_name,wb_income,wb_region,skill_group_id,skill_group_category,skill_group_name,net_per_10K_2015,net_per_10K_2016,net_per_10K_2017,...,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
500,ar,Argentina,High income,Latin America & Caribbean,26209,Tech Skills,Digital Literacy,-8.46,1.60,38.82,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501,ar,Argentina,High income,Latin America & Caribbean,12666,Specialized Industry Skills,Teaching,-14.33,-26.96,9.16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502,ar,Argentina,High income,Latin America & Caribbean,42956,Specialized Industry Skills,Delivery Operations,-44.05,-43.48,2.46,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
503,ar,Argentina,High income,Latin America & Caribbean,2269,Business Skills,Project Management,-34.32,38.07,94.94,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
504,ar,Argentina,High income,Latin America & Caribbean,2597,Business Skills,Business Management,-15.28,10.38,54.07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,au,Australia,High income,East Asia & Pacific,4382,Business Skills,Debt Collection,6.71,2.17,45.03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
597,au,Australia,High income,East Asia & Pacific,1235,Specialized Industry Skills,Mining,-63.59,-32.71,10.68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
598,au,Australia,High income,East Asia & Pacific,43756,Specialized Industry Skills,Personal Coaching,4.36,23.71,37.86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
599,au,Australia,High income,East Asia & Pacific,1275,Specialized Industry Skills,Property Management,-5.45,13.10,12.72,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
600,au,Australia,High income,East Asia & Pacific,11891,Specialized Industry Skills,Religious Studies,2.88,36.42,19.74,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

140

[array(['Tech Skills', 'Business Skills', 'Specialized Industry Skills',
       'Disruptive Tech Skills', 'Soft Skills'], dtype=object)]

                          skill_group_name  net_per_10K_2019
0                   Information Management          -1208.79
1                   Operational Efficiency           -790.09
2                        National Security           -767.64
3                         Software Testing           -739.51
4                                     Navy           -718.64
5                        Materials Science           -717.73
6                             Criminal Law           -698.84
7                          Problem Solving           -696.16
8   Software Development Life Cycle (SDLC)           -692.24
9                            Cybersecurity           -640.96
10                     Enterprise Software           -625.19
11                       Water Engineering           -560.86
12                               Air Force           -553.91
13                           Documentation           -534.90
14                           Public Safety           -531.68
15                       People Management           -489.62
16                               Economics           -481.75
17               Administrative Assistance           -481.00
18                      Telecommunications           -470.25
19                   Management Consulting           -465.04
20                   Aerospace Engineering           -459.57
21                Environmental Consulting           -456.65
22                                Politics           -455.72
23                    Human Resources (HR)           -454.04
24                                     Law           -444.72
25                       Personal Coaching           -442.94
26                           Public Policy           -432.87
27                                 Writing           -429.40
28                        Payroll Services           -417.59
29                        Accounts Payable           -415.60
30                             Translation           -409.63
31                Corporate Communications           -407.53
32                             Bookkeeping           -406.50
33                       Technical Support           -405.87
34               Data Storage Technologies           -402.25
35                     Computer Networking           -401.17
36                         Social Services           -400.00
37                             Procurement           -381.75
38                Construction Engineering           -380.71
39                             Electronics           -379.37
40                        Entrepreneurship           -375.82
41                   System Administration           -375.25
42                Manufacturing Operations           -369.78
43                   Environmental Science           -369.71
44                       Growth Strategies           -364.60
45                    Nonprofit Management           -356.44
46         Employee Learning & Development           -353.67
47                               Machining           -347.71
48                              Recruiting           -339.42
49                      Emergency Medicine           -332.85

### Exercise 8 - total net migration over 5 years
---

Using the Country Migration data sheet, display the record at position 10.  Using the column names to access the data in each column, add the five columns containing the net migration data together to calculate the total net migration over the 5 years between 2015 and 2019.

**Test output**:  
base_country_code                                   ae  
base_country_name                 United Arab Emirates  
base_lat                                       23.4241  
base_long                                      53.8478  
base_country_wb_income                     High Income  
base_country_wb_region      Middle East & North Africa  
target_country_code                                 by  
target_country_name                            Belarus  
target_lat                                     53.7098  
target_long                                    27.9534  
target_country_wb_income           Upper Middle Income  
target_country_wb_region         Europe & Central Asia  
net_per_10K_2015                                  0.12  
net_per_10K_2016                                  0.12  
net_per_10K_2017                                  0.11  
net_per_10K_2018                                  0.12  
net_per_10K_2019                                   0.1  
Name: 10, dtype: object  
0.57

In [106]:
url = "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true"
country_migration = pd.read_excel(url, sheet_name="Country Migration")
print (country_migration.info())
country_migration_v2 =(country_migration[10:11])

#columns = [net_per_10K_2015,net_per_10K_2016,net_per_10K_2017,net_per_10K_2018,net_per_10K_2019] Axis to run row by row
net = country_migration[["net_per_10K_2015", "net_per_10K_2016", "net_per_10K_2017" ,"net_per_10K_2018","net_per_10K_2019"]].sum(axis=1)
# print(net)

print(net.iloc[10])

print(type(net))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4148 entries, 0 to 4147
Data columns (total 26 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   base_country_code         4148 non-null   object
 1   base_country_name         4148 non-null   object
 2   base_lat                  4148 non-null   float64
 3   base_long                 4148 non-null   float64
 4   base_country_wb_income    4148 non-null   object
 5   base_country_wb_region    4148 non-null   object
 6   target_country_code       4148 non-null   object
 7   target_country_name       4148 non-null   object
 8   target_lat                4148 non-null   float64
 9   target_long               4148 non-null   float64
 10  target_country_wb_income  4148 non-null   object
 11  target_country_wb_region  4148 non-null   object
 12  net_per_10K_2015          4148 non-null   float64
 13  net_per_10K_2016          4148 non-null   float64
 14  net_per_10K_2017          4148 non-null   float64
 15  net_per_10K_2018          4148 non-null   float64
 16  net_per_10K_2019          4148 non-null   float64
 17  Unnamed: 17               0 non-null      float64
 18  Unnamed: 18               0 non-null      float64
 19  Unnamed: 19               0 non-null      float64
 20  Unnamed: 20               0 non-null      float64
 21  Unnamed: 21               0 non-null      float64
 22  Unnamed: 22               0 non-null      float64
 23  Unnamed: 23               0 non-null      float64
 24  Unnamed: 24               0 non-null      float64
 25  Unnamed: 25               0 non-null      float64
dtypes: float64(18), object(8)
memory usage: 842.7+ KB
None
0.57
<class 'pandas.core.series.Series'>

### Exercise 9 - formulating a text response

Using the Industry Migration data sheet, display the record at position 100.  Using the column names again to access the data in each column, calculate net migration over the 5 years from 2015 to 2019.

Then print the following message, adding the data where indicated:

The total net migration into `country` of skilled workers for the `industry name` industry, during the years 2015-2019 was `total_net_migration`  

**Test output**:  
country_code                                          ae  
country_name                        United Arab Emirates  
wb_income                                    High income  
wb_region                     Middle East & North Africa  
isic_section_index                                     K  
isic_section_name     Financial and insurance activities  
industry_id                                          129  
industry_name                            Capital Markets  
net_per_10K_2015                                 1345.11  
net_per_10K_2016                                  483.35  
net_per_10K_2017                                  606.94  
net_per_10K_2018                                  735.88  
net_per_10K_2019                                  240.44  
Name: 100, dtype: object  
The total net migration into United Arab Emirates of skilled workers for the Capital Markets industry, during the years 2015-2019 was 3411.7200000000003

In [ ]:
url = "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true"
industry_migration = pd.read_excel(url, sheet_name="Industry Migration")

### Exercise 10 - five text responses

Using the Industry Migration data sheet, calculate net migration (rounded to 1 decimal place) over the 5 years from 2015 to 2019 for the records at positions 1 to 5 and print the following message for each, adding the data where indicated:

The total net migration into `country` of skilled workers for the `industry name` industry, during the years 2015-2019 was `total_net_migration`

*Hint: use a for loop to get a record and do each calculation*  

**Test output**:  
The total net migration into United Arab Emirates of skilled workers for the Computer Hardware industry, during the years 2015-2019 was 3411.7200000000003  
The total net migration into United Arab Emirates of skilled workers for the Computer Software industry, during the years 2015-2019 was 3411.7200000000003  
The total net migration into United Arab Emirates of skilled workers for the Computer Networking industry, during the years 2015-2019 was 3411.7200000000003  
The total net migration into United Arab Emirates of skilled workers for the Internet industry, during the years 2015-2019 was 3411.7200000000003  
The total net migration into United Arab Emirates of skilled workers for the Telecommunications industry, during the years 2015-2019 was 3411.7200000000003

# Reflection
----

## What skills have you demonstrated in completing this notebook?

Your answer:

## What caused you the most difficulty?

Your answer: