# User-defined functions using datetime library

---

When working with dates and times, fairly common in data sets, we need to be able to extract certain bits of information.  

In Python, as with other languages, dates and times are stored in a data structure that combines the two together and stores the information as a number of seconds since a start point (often 1st January 1900).  This is obviously a large number but every bit of information about a date can be extracted from it and used to give a wide range of information.  

Have a go at the exercises below to use a selection of datetime functions and return a new bit of data from each, to be printed by the caller.

Before you can use datetime functions you will need to import them. Import the datetime functions like this:

`from datetime import datetime`  


For more information about datetime functions visit [w3Schools-Python datetime](https://www.w3schools.com/python/python_datetime.asp) and [Python docs](https://docs.python.org/3/library/datetime.html)

---
### Exercise 1 - print current date and time

Write a function that will return the date and time now.  The caller will print it.  

*Hint:  the format has been added for you, the other exercises will follow a similar format.   Always remember to import datetime from datetime as shown below*

In [43]:
from datetime import datetime, timezone
# add your function, called get_datetime_now() below here

def get_datetime_now():

    now_date_time = datetime.now(timezone.utc)
    print(now_date_time)
    
get_datetime_now()

2021-07-24 17:33:37.958396+00:00

---
Exercise 2 - print the current year

Write a function that will return the current year.  The caller will print the year.

In [44]:
from datetime import datetime, timezone
def get_year():

    now_year = datetime.now(timezone.utc)
    print(now_year.year)
    
get_year()

2021

---
### Exercise 3 - print the current day of the week

Write a function that will return the current day of the week.  The caller will print it.

In [45]:
def return_day_of_week():
     print(datetime.today().strftime('%A'))
return_day_of_week()

Saturday

---
### Exercise 4 - create a new date

Write a function that will take 3 parameters, year, month, day (3 numbers that make a valid date) and will create, and return a new date.  The caller will print the date.

In [46]:
def create_date(yyyy, mm, dd):
    date_time = datetime(yyyy, mm, dd)
    print (date_time)
create_date(1995, 12, 20)

1995-12-20 00:00:00

---
### Exercise 5 - create a valid date

Write a function that will take 3 parameters, year, month, day (3 numbers) and will:  
*   check that the month is between 1 and 12  
*   check that the day is valid for the month (e.g. if the month is 2, then the day must be between 1 and 28 (don't worry about leap years for the moment)  
*   if the date is not valid, print an error message and return None (which the caller will print)  
*   if the date is valid, store it in a new variable, return the variable and the caller will print it.

In [47]:
def create_date(yyyy, mm, dd):
    
    
    if mm >= 1 and mm <= 12:
        if mm in [1, 3, 5, 7, 8, 10, 12] and dd >=1 and dd <=31:
            date_time = datetime(yyyy, mm, dd)
            return date_time
            
        
        elif mm in [4, 6, 9, 11] and dd >=1 and dd <=30:
            date_time = datetime(yyyy, mm, dd)
            return date_time
        
        elif mm in [2] and dd>=1 and dd<=28:
            date_time = datetime(yyyy, mm, dd)
            return date_time
        
        
    print("Error date not valid")
    return None
        
create_date(2000, 2, 28)

datetime.datetime(2000, 2, 28, 0, 0)

---
### Exercise 6 - is it a leap year?

Write a function that will take a date as a parameter (you will need to create the date variable before calling the function) and will determine if it is a leap year, returning True or False.

*Hint:  a leap year is a year that is divisible by 4 but the centuries (1900, 2000, etc are only leap years if they are divisible by 400)*

In [48]:
from datetime import datetime

def is_leap_year(yyyy, mm, dd):
    check_date = datetime(yyyy, mm, dd)
    if check_date.year % 4 == 0:
        print(check_date.strftime("%Y"), "is a leap year")
    elif check_date.year % 400 == 0:
        print(check_date.strftime("%Y"), "is a leap year")
    else:
        print(check_date.strftime("%Y"), "is not a leap year")

is_leap_year(2020,10,12)

2020 is a leap year

---
### Exercise 7 - display parts of date/time

Write a function that will take a date and print from it the following:  
*  given date and time  
*  year (in full) 
*  month (as a number) 
*  month name 
*  week number of the year  
*  weekday of the week (as a number)  
*  day of year  
*  day of the month  
*  day of week (as a name)  

*Hint:  see w3Schools for [strftime reference](https://www.w3schools.com/python/python_datetime.asp)*

In [49]:
def display_parts_datetime(yyyy, mm, dd):
    test_date = datetime(yyyy, mm, dd)
    print (test_date, test_date.year, test_date.month, test_date.strftime("%B"), test_date.strftime("%W"), test_date.strftime("%w"),test_date.strftime("%j"),test_date.strftime("%d"),test_date.strftime("%A"))
    
display_parts_datetime(2020, 10, 20)

2020-10-20 00:00:00 2020 10 October 42 2 294 20 Tuesday

---
### Exercise 8 - next 6 days

Write a function that will take a date and generate the dates of the following 6 days.  It should print each of the 6 days in the form:  

DAY OF THE WEEK, MONTH NAME, FULL YEAR

Hint:  to generate the days, use the function datetime.timedelta(), there is a good example of its use [here](https://www.geeksforgeeks.org/python-datetime-timedelta-function/)

In [50]:
from datetime import datetime, timedelta
def next_6_days():

# Using current time
    time_now = datetime.now()
    
# Calculating date 6 days from now

    add_6_days = time_now + \
                        timedelta(days = 6)

    (datetime.today().strftime('%A'))
# printing calculated future_dates
    print('The future date after 6 days is',add_6_days)
next_6_days()

The future date after 6 days is 2021-07-30 18:33:42.093691

### Exercise 9 - modify date format in a dataframe with a custom function
---

Read the data set 'page_views.csv' from "https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/page_views.csv"

Using dataframe.apply(), modify the dates, which are currently strings, so that they are in date format.

This is a relatively small data set, so let's use this as a way to look into how an applied function works.

1.  Read the data set into a dataframe and display information about it (you will see that the date is of dtype 'object' which means that it could be any data structure

2.  Print the date from the first record - you will see that this is a string ('2016-05-09')

3.  As a test, convert this string into a valid date (maybe take the date string, split it into three components, year, month, day and create a new datetime from this - you could use the function you wrote for Exercise 5

4.  Apply a function that will convert the date (string) column in the dataframe to a date (datetime) column.  (First step - print df['date'] so that you can see that there is just one row in df in the function)

In [51]:
import pandas as pd
from datetime import datetime


url="https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/page_views.csv"
page_views = pd.read_csv(url)

def format_date(df):
    string_date = df["date"].split('-')
    return create_date(int(string_date[0]),int(string_date[1]),int(string_date[2]))
    
page_views.apply(format_date, axis=1)

0      2016-05-09
1      2016-05-10
2      2016-05-11
3      2016-05-12
4      2016-05-13
          ...
1299   2019-11-29
1300   2019-11-30
1301   2019-12-01
1302   2019-12-02
1303   2019-12-03
Length: 1304, dtype: datetime64[ns]

### Exercise 10 - here's a challenge
---

Now that the date is in datetime format, it is possible that you could check for missing dates.

1.  Run the code from Exercise 9 to ensure that you have datetime objects and not strings.

2.  Sort the dataframe by date (ascending)

3.  Starting with the first date, generate a new column with the same number of rows as the dataframe, which contains datetime objects sequentially by day

4.  Write a function that takes the dataframe as a parameter, and the next date (see Exercise 8), finds the first row where the generated date and the actual date are not equal and returns the index of this row, or -1 if they are all equal (Hint:  use a filter to find the rows where there is a difference, return the index of the first row - df[df['date'] != df['seq_date']].index[0]

In [67]:
date_data = page_views.apply(format_date, axis=1).to_frame()
print (date_data, date_data.info())


#Sort the dataframe by date (ascending)
date_data.sort_values(by=0)
date_data.index.names = ['input']

#Starting with the first date, generate a new column with the same number of rows as the dataframe, which contains datetime objects sequentially by day
date_data['weekday'] = date_data[0].dt.dayofweek
# date_data=date_data.assign(seq_date=date_data[0])
# date_data.sort_values('seq_date')
date_data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1304 entries, 0 to 1303
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1304 non-null   datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 10.3 KB
               0
input
0     2016-05-09
1     2016-05-10
2     2016-05-11
3     2016-05-12
4     2016-05-13
...          ...
1299  2019-11-29
1300  2019-11-30
1301  2019-12-01
1302  2019-12-02
1303  2019-12-03

[1304 rows x 1 columns] None

               0  weekday
input
0     2016-05-09        0
1     2016-05-10        1
2     2016-05-11        2
3     2016-05-12        3
4     2016-05-13        4
...          ...      ...
1299  2019-11-29        4
1300  2019-11-30        5
1301  2019-12-01        6
1302  2019-12-02        0
1303  2019-12-03        1

[1304 rows x 2 columns]

---
### Optional extra practice

There are some similar and some more challenging exercises [here](https://www.w3resource.com/python-exercises/date-time-exercise/) if you would like to practice more. The site has its own editor.